body{

font-family:Arial;

background:#f2f2f2;

margin:20px;

}

h1{

text-align:center;

color:#004d99;

}

.container{

width:95%;

margin:auto;

}

.card{

background:white;

padding:15px;

margin:15px 0;

border-radius:10px;

box-shadow:0 0 8px gray;

}

input,textarea{

width:100%;

padding:10px;

margin:8px 0;

}

button{

padding:10px 20px;

background:#0066cc;

color:white;

border:none;

cursor:pointer;

}

table{

width:100%;

background:white;

margin-top:20px;

border-collapse:collapse;

}

th,td{

border:1px solid gray;

padding:10px;

text-align:center;

}

th{

background:#0066cc;

color:white;

}
